In [10]:
# ======================= Funtions =================================

def calculation(a,b):
    return a + b

print(calculation(10,20))

8

In [1]:
# ------------------------ Q1 -------------------

def square_sum(n):
    total = 0

    for i in range(1, n + 1 ):
        total += i**2
    return total

num = int(input("Enter a Number: "))
print(square_sum(num))

55

In [ ]:
# -------------------------- Q2 -----------------------

def add_corresponding_number(list_one,list_two):

    if(len(list_one) != len(list_two)):
        return "Error: Arrays length are not equal"
    else:
        new_list = []
        for i in range( len(list_one) ):
            new_list.append(list_one[i] + list_two[i])
        return new_list

print(add_corresponding_number([1,2,3] , [4,5,6]))
print(add_corresponding_number([1,2,3] , [4,5,6,7]))

In [ ]:
# =============== positional argument =================

def add(a,b):
    return a + b

print(add(5,2))

In [ ]:
# =============== Default argument =================

# def add(a = 5,b):  #  Error: non-default argument follows default argument
def add(a,b = 10):  #  
    return a + b

print(add(5,20))  # b will take the provided value 20
print(add(5))  # b will take the default value 10
# print(add(2,5,8))  # Error: too many arguments provided

In [8]:
# ============== keyword argument =================

def add(a,b):
    return a + b

print(add(b=15, a=5))  # Using keyword arguments to specify values
print(add(10, b=20))  # Mixing positional and keyword arguments
# print(add(a=5, 10))  # Error: positional argument follows keyword argument

20
30

In [ ]:
# ----------------------- Q3 -----------------------------

def calculate_total(price, quntity = 1, discount = 0):

    discount_price = price * quntity * discount * 0.01

    total_price = price * quntity - discount_price

    return total_price

print(calculate_total(10,2,10)) # 20 - 2 = 18
print(calculate_total(100,5)) # 500 - 0 = 500
print(calculate_total(1000,discount = 10)) # 1000 - 100 = 900

In [2]:
# ================= Arbitrary Positional Arguments =====================

def arbitrary_positional_args(*args):

    print("Positional arguments:", args)
    print(type(args))

    for i in args:
        print(i)

arbitrary_positional_args(1,2,3,4,5)

Positional arguments: (1, 2, 3, 4, 5)
<class 'tuple'>
1
2
3
4
5

In [ ]:
# ------------------- Q4 --------------------------

def sum_numbers(*args):

    sum = 0
    for arg in args:
        sum += arg

    return sum

print(sum_numbers(2,5))
print(sum_numbers(2,5,7))
print(sum_numbers(2,5,7,50))

In [ ]:
# ---------------------- Q5 ------------------------

def everage_positive(*args):

    sum = 0
    positive_count = 0
    for arg in args:

        if(arg > 0):
            positive_count += 1
            sum += arg

    if(positive_count == 0):
            return "No Positive numbers Provided "
    else:
        everage = sum / positive_count
        return everage

print(everage_positive(3,5,10))
print(everage_positive(-10))
print(everage_positive(3,-5,6,-10))

In [9]:
# ============= Arbitrary Keyword Arguments ======================

def arbitrary_keyword_args(**kwargs):
    
    print(kwargs)
    print(type(kwargs))
    print()

    for key in kwargs.keys():
        print(key)
    print()

    for value in kwargs.values():
        print(value)
    print()


    for key, value in kwargs.items():
        print(key ,":", value)
       



arbitrary_keyword_args(name="Tharusha", age=22, city="Galle")

{'name': 'Tharusha', 'age': 22, 'city': 'Galle'}
<class 'dict'>

name
age
city

Tharusha
22
Galle

name : Tharusha
age : 22
city : Galle

In [ ]:
def average_score(**subjects):

    total_marks = 0
    count = 0
    for value in subjects.values():
        total_marks += value
        count += 1
    
    if count > 0:
        average = total_marks/count
        return average
    else:
        return "No Subject are Provided"
    

print(average_score(math=80, physics=50))
print(average_score(math=80, physics=50, bio=50))
print(average_score())

In [ ]:
# --------------------- absolute value ----------------------

def absolute_value(num):
    if num < 0:
        return -num
    else:
        return num
    
print(absolute_value(-10))  # Output: 10
print(absolute_value(5))    # Output: 5

# =============================== absolute value using builtin function [abs()]=======================

print(abs(-15))    # Output: 5 //////////////  builtin function

In [ ]:
# ======================= map() function ========================

def find_square(x):
    return x ** 2

# -----------------------

list_1 = [1,2,3,4,5]

result = map(find_square, list_1)

print(list(result))  # Convert map object to list and print
my_list = list(result)
print(type(my_list))

[1, 4, 9, 16, 25]
<class 'list'>

In [ ]:
# ------------------------- Q6 -----------------------

def convert_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9 
    return round(celsius, 2)

temp_list = [32, 68, 77]

celsius_list = map(convert_to_celsius, temp_list)

print(list(celsius_list))  # Convert map object to list and print

In [4]:
# ------------------------ Q7 -------------------------

def corosponding_elements_sum(x, y): 
    return x + y

list_1 = [1,2,3]
list_2 = [4,5,6]

result = map(corosponding_elements_sum, list_1, list_2)

print(list(result))  # Convert map object to list and print

[5, 7, 9]

In [18]:
# =============== filter() function ===================

# -------------------------------- Q8 ------------------------

def is_even(n):
    return n % 2 == 0

numbers = [10, 9, 4, 8, 11]

result = filter(is_even, numbers)

print(list(result))

[10, 4, 8]

In [ ]:
# ------------------------------- Q9 ------------------------

my_list = [12, 15, 18, 20, 25, 30, 35]

def is_divisible(num):
    return (num % 5 != 0) and num % 3 == 0

result = filter(is_divisible, my_list)

print(list(result))

[12, 18]

In [5]:
# ================= Lambda function ==================

add = lambda x, y: x * y

print(add(5, 10))  # Output: 15

# --------------------------------------------------

result = (lambda x, y: x + y) (3,4)

print(result)

50
7

In [ ]:
# ------------------------------- Q10 ------------------------

result = lambda x, y: x if x > y else y

print(result(5,3))

5

In [ ]:
# ------------------------------- Q11 ------------------------

result = lambda x: x**2

list_1 = [1,2,3,4,5]

squared_list = map(result, list_1)

print(list(squared_list))

[1, 4, 9, 16, 25]

In [13]:
# ------------------------------- Q12 ---------------------------
list_1 = [12, 15, 18, 20, 25, 30, 35]

filtered_list = filter(lambda x: x % 3 == 0 and x % 5 != 0, list_1)

print(list(filtered_list))

[12, 18]