# =========== Tuple ( ) ===========

In [ ]:
# -------------------------- Tuple -------------------------------

sports = ("tennis", "cricket", "football") # Tuple

print(sports)
print(len(sports)) #length
print(type(sports)) #type
print(sports[1])

# sports[1] = "batmintent" # UNCHANGEBLE

In [ ]:
sports = ("tennis" , ) # tupple
sports = ("tennis")   # string

print(type(sports))

In [ ]:
my_tuple = (10, 11, "A", 4.5, -22, True)

print(my_tuple)

In [ ]:
my_tuple_2 = (10, 12, 8 , 9, 22, 20, 5, 11)

print(my_tuple_2[2:5])

In [ ]:
my_tuple_3 = (10, 12, 8 , 9, 22, 20, 5, 11)

print(my_tuple_3)
print(type(my_tuple_3))

x = list(my_tuple_3)

print(x)
print(type(x))

# print(my_tuple_3)
print(type(my_tuple_3))

x[2] = 100

print(x)
print(type(x))

my_tuple_3 = tuple(x)

print(my_tuple_3)
print(type(my_tuple_3))

In [ ]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

print(nested_tuple[1][1]) # b
print(nested_tuple[2][0]) # True

# =========== Set { } ===========

In [ ]:
#------------------------ Set --------------------------------

sports_2 = {"tennis", "cricket", "football", "tennis"}

print(sports_2)      #{'cricket', 'tennis', 'football'}
print(type(sports_2))

# print(sports_2[1]) #Unordered
# print(sports_2.index("cricket"))

In [ ]:
sports_3 = {"tennis", "cricket", "football"}
print(sports_3)

sports_3.add("soccer")
print(sports_3)

sports_3.update(["golf", "baseball"])
print(sports_3)

sports_3.remove("cricket")  # value eka neththan erros denawa
print(sports_3)

sports_3.discard("Hide & sike") # value eka neththan erros denne ne
print(sports_3)

In [ ]:
abc = {"a", 50, "c" , True}

print(abc)
print(type(abc))

x = list(abc)

print(x)
print(type(x))
print(x.index("a"))

x[3] = 20
print(x)
print(type(x))

abc = set(x)
print(abc)
print(type(abc))

## =========== Range ===========

In [ ]:
#------------------------------- Range ----------------------------------------

my_var = range(1,17,3)

print(list(my_var))
print(type(my_var))

print(my_var[0])
print(my_var[1])
print(my_var[2])
print(my_var[3])

x = list(my_var)
print(x)
print(x.index(10))

In [ ]:
range_1 = range(3, 8)
print(range_1)
print(list(range_1))

range_2 = range(13)
print(range_2)
print(list(range_2))

## =========== Dictionaries ===========

In [ ]:

#--------------------------------- Dictionaries -------------------------------------

item_1 = {
    "name": "Sugar",
    "weight": "1kg",
    "price": 175.00
}

print(item_1)
print(type(item_1))

print(item_1["name"])

item_1["price"] = 200.50 
print(item_1)

item_2 = {
    
    "name": "Sugar", #same key
    "weight": "1kg",
    "name": "Rice", #same key
    "price": 175.00
}
print(item_2.items())

In [ ]:
dict_1 = {
    "name": "Sugar",
    "weight": "1kg",
    "price": 175.00
}

print(dict_1.keys()) # get all keys
print(dict_1.values()) # get all values

print(dict_1.get("price", "Not Found")) # add default value if key not found

dict_1["expire_date"] = "28/02/2024"
print(dict_1)

dict_1.update({
    "price": 180.00, 
    "modi_date": "01/01/2024"
})                              # update multiple values & add new key value pair
print(dict_1)

dict_1.pop("modi_date") # remove key value pair
print(dict_1)

del dict_1["expire_date"] # remove key value pair
print(dict_1)

dict_1.clear() # clear all key value pairs
print(dict_1)

# del dict_1
# print(dict_1)

# =========== Operators ===========

In [ ]:
#------------------------------- Operators -------------------------------------

# ===================== Arithmetic Operators ===========================

x = 5
y = 2

print( "x + y =", x + y) # Addition
print("x - y = ",x - y) # Subtraction
print("x * y = ",x * y) # Multiplication
print("x ** y = ",x ** y) # Exponentiation
print("x / y = ",x / y) # Division
print("x // y = ",x // y) # Floor Division
print("x % y = ",x % y) # Modulus

In [ ]:
# ===================== Assignment Operators ===========================

x = 5
y = 2

print("x =", x )
print("y =", y )
print()

x += y  # x = x + y  # Add & assign 
print("x += y =", x)

x -= y  # x = x - y # Subtract & assign
print("x -= y =", x)

x *= y  # x = x * y # Multiply & assign
print("x *= y =", x)

x /= y  # x = x / y # Divide & assign
print("x /= y =", x)    

x %= y  # x = x % y # Modulus & assign
print("x %= y =", x)

x **= y  # x = x ** y # Exponent & assign
print("x **= y =", x)

a = 10
b = 3

a //= b  # a = a // b # Floor Division & assign
print("a //= b =", a)

In [ ]:

# ===================== Comparison Operators ===========================

x = 5
y = 2

print("x =", x )
print("y =", y )
print()

print("x == y :", x == y)  # Equal

print("x != y :", x != y)  # Not Equal

print("x > y  :", x > y)   # Greater than

print("x < y  :", x < y)   # Less than

print("x >= y :", x >= y)  # Greater than or Equal to

print("x <= y :", x <= y)  # Less than or Equal to

In [ ]:


product_ids = [1001, 1002, 1003, 1004, 1005, 1006 , 1002]

unique_product_ids = set(product_ids)

has_duplicate = (len(product_ids) != len(unique_product_ids))

print("Has Duplicates :", has_duplicate)

In [ ]:


# ===================== Logical Operators ===========================

x = 5
y = 2

print("x =", x )
print("y =", y )
print()

print("x > 3 and y < 5 :", x > 3 and y < 5)  # AND

print("x > 3 or y < 1  :", x > 3 or y < 1)   # OR

print("not(x > 3 ) :", not(x > 3)) # NOT

In [ ]:
# ===================== Identity Operators ===========================

a = 5
b = 6
c = 5

print(a is c)  # True
print(a is b) # False
print(a is not b) # True
print(a is not c)  # False

print()

x = 258 # pool capacity is -5 to 256
y = 258

print(x is y)  # False
print(x is not y) # True

q = "hello"
w = "hello"
i = "qqq"

print(q is w)  # True
print(q is i) # False

print()

o ="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
i ="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"

print(o is i)  # True because above o and i is single words

In [ ]:
# ===================== Membership Operators ===========================

sports = {"tennis", "cricket", "football"}

print("tennis" in sports)  # True
print("baseball" in sports) # False
print("baseball" not in sports) # True
print("tennis" not in sports)  # False

In [ ]:
# ========================== Bitwise Operators ================================
# (& , | , ^ , ~ , << , >>)

print("\n Bitwise Operators ===================")

a = 5      # 0101
b = 10     # 1010
c = 0

print("a = ", a)
print("b = ", b)
print("c = ", c)

# ---------- AND ----------------
c = a & b    
print("a & b = ", c)  #0

# ---------- OR ----------------
c = a | b   
print("a | b = ", c)  # 15

# ---------- XOR ----------------    "Bits are different නම් 1, same නම් 0"
c = a ^ b   
print("a ^ b = ", c)   # 15

# ---------- NOT ----------------  " ~a = -(a + 1) "
c = ~a      
print("~a = ", c)    # -6   - (a + 1)  = -6

# ---------- Left Shift ----------------   "Ilakkma anuwa agata 0 danna dashamaya kranna "
c = a << 2                                  # "e.g:- 5 ---> 101"
print("a << 2 = ", c)                       # "a << 2  --> 10100"  = 20

# ---------- Right Shift ----------------  # "mekedi aga idan illakmata anuwa bit gana iwath karanna"
c = a >> 2                                  # "e.g:- 10 ---> 1010"
print("a >> 2 = ", c)                       # "b >> 2 --> 10" = 2
print("b >> 2 = ", b >> 2)

#  1.    **
#  2.    * , % , // , /
#  3.    + , -
#  4.    > , < , >= , <= , == , !=
#  5.    not
#  6.    and
#  7.    or

In [ ]:
# ----------------- Quiz 01 -------------------

# Check if there are any duplicate product IDs in the list
product_ids = [101, 102, 103, 104, 105, 106 , 107 , 103 , 109]
has_duplicate = (len(product_ids) > len(set(product_ids)))
print("Has Duplicate: ", has_duplicate)

#------------------- Quiz 02 -------------------
result = 5 + 3 * 2 ** 2 > 15 and 10 - 2 * 3 == 4 or not 10 % 5 == 0
print("Result is :", result)

#   **
#   * , % , // , /
#   + , -
#   > , < , >= , <= , == , !=
#   not
#   and
#   or