In [1]:
# ----------- if-else ------------

a = 10
b = 15


if a > b:
# Indentation is crucial in Python to define the scope of code blocks
    print("a is greater than b") 
else:
    print("a is not greater than b")


# This line is outside the if block
print("This is outside the if block ...")

a is not greater than b
This is outside the if block ...

In [2]:
# --------------------- Q1 ---------------------

num = input("Enter a Number : ") # input alwase string


if (int(num) % 2) == 0:
    print("Even Number")
else:
    print("Odd Number")

Odd Number

In [3]:
# ---------------------- Q2 ---------------------

radious = float(input("Enter the Radious of the Circle :"))

PI_VALUE = 3.14

if radious > 0 :
    circumference = 2 * PI_VALUE * radious
    print("Circumference of the circle is : ", circumference)
else:
    print("Input not Valid")

Circumference of the circle is :  62.800000000000004

In [4]:
# ------------------ Q3 ---------------------

side_one_length = float(input("Enter the side one length in right-angle triangle :"))
side_two_length = float(input("Enter the side two length in right-angle triangle :"))

if side_one_length > 0 and side_two_length > 0 :
   
    hypotenuse = ((side_one_length ** 2) + (side_two_length ** 2)) ** 0.5 
    print("hypotenuse of right-angle triangle : ", hypotenuse)

else:
    print("Inputes anr not available")

hypotenuse of right-angle triangle :  22.825424421026653

In [5]:
# ------------------- elif -------------------

a = 10
b = 25

if a > b :
    print("a greater than b")
elif b > a :
    print("b greater than a")
else :
    print("End")

b greater than a

In [6]:
#----------------------- Q4 ---------------------------


number_1 = float(input("Enter the first Number : "))
number_2 = float(input("Enter the secund Number : "))
number_3 = float(input("Enter the therd Number : "))

if number_1 > number_2 and number_1 > number_3 :
    print("The largest Number is : ",number_1)

elif number_2 > number_1 and number_2 > number_3:
    print("The largest Number is : ",number_2)
    
else :
    print("The largest Number is : ",number_3)

ValueError: could not convert string to float: 'h'

In [ ]:
number_1 = float(input("Enter the first Number : "))
number_2 = float(input("Enter the secund Number : "))
number_3 = float(input("Enter the therd Number : "))

if number_1 > number_2 and number_1 > number_3 :
    if number_2 > number_3 :
        print("Desending order : ",number_1 , number_2 , number_3)
    else :
        print("Desending order : ",number_1 , number_3 , number_2)

elif number_2 > number_1 and number_2 > number_3:
    if number_1 > number_3 :
        print("Desending order : ",number_2 , number_1 , number_3)
    else :
        print("Desending order : ",number_2 , number_3 , number_1)
  
else :
    if number_1 > number_2 :
        print("Desending order : ",number_3 , number_1 , number_2)
    else :
        print("Desending order : ",number_3 , number_2 , number_1)

In [ ]:
x = 5

result = "Even" if x % 2 == 0 else "Odd"
print(result)

In [ ]:
num = float(input("Enter a Number : ")) 

result = ("Absulute" ,-num) if num <= 0 else ("Positive" ,num) #absulute meaning non-negative
print(result)

#-----------------------------

absulute_value = num if num >=0 else -num
print("Absulute value is : ", absulute_value)

In [ ]:
#----------------- match-case ----------------- # this is similar to switch-case

x = 2 

match x:
    case 1:
        print("x is One")
    case 2:
        print("x is Two")
    case _:
        print("x is something else")

In [ ]:
# ----------------- match features -----------------

command = input("Enter a command: ")

match command.split():
    case ["start"]:
        print("Starting...")
    case ["stop"]:
        print("Stopping...")

    case ["move", direction]:
        print(f"Moving {direction}...")

    case ["turn", direction] if direction in ["left", "right"]:
        print(f"Turning {direction}...")
    case _:
        print("Unknown command")

Moving ...

In [ ]:
# ----------------- Quiz -----------------

day = input("Enter a day : ").lower()

match day:

    case "saturday" | "sunday":
        print(day," is a Weekend.")
    case "monday" | "tuesday" | "wednesday" | "thursday" | "friday":
        print(day," is a Weekday.")
    case _:
        print("Invalid day input.")

Invalid day input.

In [ ]:

numbers = [1, 2, 3]

match numbers :

    case [x, y]:
        print(x * y)
    
    case [x, y, z]:
        print(x + y + z)

    case _ :
        print("Empty array")

6

In [ ]:
list = [3, 4, 5]



match list:
    case[x, y]:
        print("hiportan of right-angle tryangle : ", ( x ** 2 + y ** 2) ** 0.5 )

    case[x, y, z]:

        s = (x + y + z) / 2

        area = (s * (s - x) * (s - y) * (s - z)) ** 0.5

        print("Area of the triangle : ", area )

    case _ :
        print("Unsuportat nymber of inputs")

In [ ]:
# ----------------- Loops -----------------

#================ for loop =================

num = [5, 10, 15, 20, 25]

for item in num :
    print(item)

In [ ]:
# ----------------- Quiz -----------------

numbers = range(7,100,7)

# list(numbers)

for multipication in numbers :

    print(multipication)

In [ ]:
num = int(input("Enter the number : "))


if num < 0 :
    print("Nagitive number")

elif num == 0 or num == 1:
    print("Factorial is : " , 1) 

else :
    numbers = range(1,num + 1 )
    factorial = 1
    
    for number in numbers:    
        factorial *= number

    print("Factorial is ",factorial)

In [ ]:
n = 5

numbers = range(1, n + 1)

for i in numbers:
    print(" * " * i)
    

# -----------

# second way (hard)
for i in range(1 , n + 1) :
    for j in range(i) :
        print("*" ,j, end="j")
    print()

In [ ]:
numbers  = [2, 4, 54, 7, 8, 3]

for n in numbers :
    if n > 5:
        break

    print(n)

In [ ]:
sum = 0

for num in range(10):
    
    input_num = int(input("Enter the number : "))
    
    sum += input_num

    if input_num == 0 :
        print(sum)
        break

In [ ]:
# ----------------------- while loop -----------------------

x = 1

while x < 10:

    print("A")
    x += 1